.person {
  background: #eeeeee;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 2rem auto;
  width: 17rem;
  transition: all 0.3s linear;
  text-align: center;
}
.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}
.person img {
  border-radius: 50%;
  border: 0.1rem solid grey;
}
.person h4 {
  color: grey;
  letter-spacing: 0.15rem;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .personList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .personList {
    grid-template-columns: repeat(3, 1fr);
  }
}
